<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Contact Us</title>
</head>

<body>
<div class="staticpage-wrapper container">
    <div class="staticpage-content">
        <div class="contact-wrapper">
            <div class="contact-intro mb-5">
            <div class="contact-form-box rounded p-lg-5 mb-5">
                    <h2 class="text-center mb-3">How Can We Help?</h2>
                    <p></p>
                    <p>Remember if you have any queries, please do not hesitate to contact us via email admin@newenergyacademy.com:</p>
                    <p></p>
                    <div>Want to get in touch with us or have a question? Fill out this form and we will get back to as soon as possible.</div>
                    </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>