// Universal LearnR theme styling

//Forgot Password
#page-login-forgot_password div {
    color:#e9ecef
}
// Miscellaneous
a.btn-close i.icon {
    color:#6a737b!important;
}
.block_crisp_chat {
    display:none;
}
.btn-footer-popover {
    display:none!important;
}

// Navbar Styling
.navbar-nav .coursecontrols .nav-item + .nav-item {
    margin-left: .25rem;
}
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
    //background-image: linear-gradient(45deg, $navbar-bg, #11181D);
    //background-color:#011658;
    background-color:$navbar-bg;  //Sexier color
    // #023545 ~ no
    // #233545
    // #033545
    // #141b4d
    // #3c6f90 ~ no 
    // #e41f26 ~ no 
}

@mixin hover-navbar {
    border-color: transparent;
    background-color: rgba($white, 15%);
}
.navbar.fixed-top {
    padding-top: 0;
    padding-bottom: 0;
    // border: 2px solid $navbar-bg;
    font-weight:bold;
    // border-radius: 3px;
    // align-items: stretch;
    // height: $navbar-height + 1px;
    border-bottom:none;
}
.coursename .aalink {
    font-weight:bold;
}

.moremenu .nav-tabs {
    margin-left: 0;
    background-color: $white;
}
.moremenu .nav-link.active {
    background-color: #f8f9fa;
    border-color: transparent;
    border-bottom-color: lighten($white, 40%);
}
.navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    background-color: rgb(255 255 255 / 20%);
}
.navbar.fixed-top .navbar-brand .logo {
    border-radius: 2%;
}


.primary-navigation .moremenu .nav-link:hover, .moremenu .nav-link:focus {
    background-color: rgb(255 255 255 / 20%);
}
#usernavigation .usermenu .dropdown-toggle::after, span.login a {
    color: $navbar-dark-color;
}
.primary-navigation {
    .navigation {
        height: $navbar-height;
        .nav-link {
            height: $navbar-height;
            color: $navbar-dark-color;
            border-top: 3px solid transparent;
        }
    }
}


// Edit button
form.editmode-switch-form {
    color: $navbar-dark-color;
}
.editmode-switch-form .text-primary {
    color: $navbar-dark-color!important;
}
.custom-control-input:checked~.custom-control-label::before {
    background-color: #2edd5c;
}


// Reset the default styling back to the bootstrap defaults for
// the secondary outline button because gray-200 is much too light
// for an outline button.
.btn-outline-secondary {
    @include button-outline-variant($gray-600);
    border-color: $gray-600;
}

.btn-outline-info {
    @include button-outline-variant($info-outline);
}

.btn-outline-warning {
    @include button-outline-variant($warning-outline);
}

//@include bg-variant(".bg-gray", $gray-200, true);


// Page Background Image
.headerimagecontainer {
    width: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: relative;
}

.headerbkg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
}

// Possible layout change in 1.7
.withimage, .defaultheaderimage, .courseimage, .customimage {
    -webkit-mask-image: linear-gradient(to top,transparent 0%,rgba(255,255,255,.9) 70%);
    mask-image: linear-gradient(to top,transparent 0%,rgba(255,255,255,.9) 70%);
    max-height: 600px;
}
//-------------------------------------------------------------My-courses----------------------------------------
div.ml-auto.dropdown button.btn.btn-link.btn-icon:hover.icon-size-3.coursemenubtn {
    background-color:#005bb7;
}
div.ml-auto.dropdown button.btn.btn-link.btn-icon.icon-size-3.coursemenubtn {
    color:white;
}

.block .block-cards .dashboard-card-footer.menu {
    opacity:1;
}
body.pagelayout-mycourses div.card.dashboard-card div.card-body.pr-1.course-info-container div.w-100.text-truncate{
    margin-bottom:-1rem;
}
//-------------------------------------------------------------Front-page-----------------------------------------
.pagelayout-frontpage div[data-region="mainpage"] h1.h2 {
    display:none;
}
.pagelayout-frontpage div[data-region="mainpage"] li.nav-item{
    display:none;
}


.dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
    @media (min-width:1000px){
    width: calc(25% - 0.5rem);
    }
}

.card-deck.dashboard-card-deck.fixed-width-cards .dashboard-card {
    @media (min-width:1000px){
    width: calc(25% - 0.5rem);
    }
}


.dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
        border:1px solid #000030a8;
        background-color:#000a32;
}
.card-deck.dashboard-card-deck.fixed-width-cards .dashboard-card {
        border:1px solid #000030a8;
        background-color:#000a32;
    }
div.w-100.text-truncate a.coursename.aalink {
   color:white; 
   font-weight:bold;
}
div.w-100.text-truncate a.coursename.aalink span.multiline {
   color:white; 
}

div.w-100.text-truncate div.text-muted.muted.d-flex.flex-wrap  {
  color:white !important; 
}
div.w-100.text-truncate div.text-muted.muted.d-flex.flex-wrap span.categoryname.text-truncate {
  color:white !important; 
}
div.card.dashboard-card[data-region="course-content"] div.card-footer.dashboard-card-footer{
    background-color: #000a32!important;
    border-radius:2rem;
    margin-top:5px;
}
div.ml-auto.dropdown button.btn.btn-link.btn-icon.icon-size-3.coursemenubtn {
    color:white;
}
.dashboard-card-deck.one-row {
    overflow-x:hidden;
}
.dashboard-card-deck .dashboard-card .dashboard-card-img {
    height: 18rem;
    border-top-right-radius:2rem;
    border-top-left-radius:2rem;
}

// Layouts
#region-main {
    overflow-x: visible;
    border-radius: $border-radius;
    background-color: $white;
}
.pagelayout-course .activityiconcontainer {
    width: $courseiconsize;
    height: $courseiconsize;
}
/*#page.drawers.show-drawer-right {
    padding-right: 0 !important;
}
#page.drawers.show-drawer-left {
    padding-left: 0 !important;
}*/
#page.drawers .main-inner {
    margin-top: 0;
}
@media (min-width: 768px){
    #page.drawers .main-inner {
        margin-top: 2rem;
    }
}



.card {
    border-radius:2rem;
}
//-----------------------------------------Course Theming Adjustments-----------------------------------------
.text-truncate {
    white-space:normal;
}
.courseindex-item.d-flex.courseindex-section-title .courseindex-link.text-truncate {
    // background-color: #4331ff;
    // border-radius: 5px;
    // border: 2px solid black;
    padding:3px;
    text-shadow: 2px 1px 11px black;
    font-size:larger;
}
.courseindex-item.d-flex .courseindex-link.text-truncate {
    color: white;
}
i.icon.fa.fa-lock.fa-fw {
    color:red;
}
// li.activity.activity-wrapper.hasinfo {
//     background-image:linear-gradient(45deg, #ededed, transparent);
// }
li.activity.activity-wrapper.page.modtype_page.hasinfo div.activity-item div.description div.availabilityinfo{
    background-color: $c-blue;
}
li.activity.activity-wrapper.quiz.modtype_quiz.hasinfo div.activity-item div.description div.availabilityinfo{
    background-color: $c-blue;

}
// li.activity.activity-wrapper.hasinfo div.activity-item.hiddenactivity {
//     background-image:linear-gradient(45deg, #ededed, transparent);
// }

li.activity.activity-wrapper.hasinfo[data-for="cmitem"] div.activity-item {
    background-image:linear-gradient(45deg, #ededed, transparent);
}
// li.activity.activity-wrapper.hasinfo div.description {
//     background-image:linear-gradient(315deg, #ededed, transparent);
// }

li.activity.activity-wrapper.hasinfo div.activity-item.activityinline {
    background-image:none;
}
.courseindex-item.d-flex.courseindex-section-title .courseindex-chevron.icons-collapse-expand  {
    color:white;
    font-size:larger;
}
.courseindex .courseindex-item:hover.dimmed .courseindex-link {
    color:$b-blue;
}
// li.courseindex-item.d-flex a[href*="/mod/book/"].courseindex-link.text-truncate {
//     color:green;
// }
// li.courseindex-item:hover.d-flex a[href*="/mod/book/"].courseindex-link.text-truncate {
//     color:$yellow;
// }
// li.courseindex-item.d-flex a[href*="/mod/quiz/"].courseindex-link.text-truncate {
//     color:$a-blue;
// }
li.courseindex-item:hover.d-flex a[href*="/mod/quiz/"].courseindex-link.text-truncate {
    color:$b-blue;
}
// .courseindex-sectioncontent.unlist .courseindex-item.restrictions.dimmed.d-flex a[href*="#module-"].courseindex-link.text-truncate {
//     color:$a-blue;
// }
.courseindex-sectioncontent.unlist .courseindex-item:hover.restrictions.dimmed.d-flex a[href*="#module-"].courseindex-link.text-truncate {
    color:$b-blue;
}
.drawer.drawer-left {
    // background-color: #23295a;
    //background-color:#001148;
    background-color:#000a2a;
}
button .drawertoggle .btn {
    color:white;
}
// button[data-original-title="Close course index"] {
//     color:white;
// }
div.drawerheader button[data-target="theme_boost-drawers-courseindex"].btn.drawertoggle.icon-no-margin i.icon.fa.fa-times.fa-fw {
    color:white;
}
div.drawerheader button[data-target="theme_boost-drawers-courseindex"].btn:hover.drawertoggle.icon-no-margin i.icon.fa.fa-times.fa-fw {
    color:red;
}

span.dragicon.ml-auto i.icon.fa.fa-arrows.fa-fw {
    color:white;
}
i.icon.fa-circle-thin.fa-fw[title="To do"] {
    color:red;
}
span.courseindex-name.text-truncate[data-for="cm_name"] {
    color:white;
}
span.courseindex-name:hover.text-truncate[data-for="cm_name"] {
    color:$b-blue;
}
.courseindex .courseindex-item:hover .courseindex-link {
        color: $b-blue;
}

.courseindex .courseindex-item .completioninfo.completion_complete {
    color:#0bff00;
}
.badge-light {
    background-color:powderblue;
}
button .btn .btn-outline-secondary .btn-sm .text-nowrap {
    background-color:grey;
}



//------------------------------------------Quiz Questions---------------------------------------------
div[role="main"] div.singlebutton.quizstartbuttondiv {
    margin-right:auto;
    margin-left:auto;
}
div.box.py-3.quizinfo p.text-left {
    text-align:center!important;
}

//-----------------------------------------------------------------------------------------------------
.block .block-cards .multiline {
    color: $black;
    font-weight: bold;
    font-size: large;
}
.block .block-cards .progress-text {
    display:none;
}
li[data-key="home"] {
    display:none;
}

span.login a {
    font-size:large;
    margin-right:50px;
}


//Grading Area
.path-mod-assign [data-region="grading-navigation"] {
    background-color: $white;
}
.path-mod-assign [data-region="grade-actions"] {
    padding: 10px;
    background-color: $white;
}
.generaltable {
    background-color: $white;
}
#quiz-timer-wrapper {
    top: 10px;
}


//Dashboard 
.pagelayout-mydashboard .block_timeline.block.card, .pagelayout-mydashboard .block_calendar_month.block.card {
    border: 0;
}
section.block_starredcourses.block.card.mb-3 {
    border:1px solid rgba(0, 0, 0, 25%);
    background-image:linear-gradient(13deg, #cbcbcb91, transparent);
}

//Activity navigation
.top-activity-navigation.container-fluid {
    display: flex;
    justify-content: flex-end;
}
.activitynavitems {
    background-color: $gray-100;
    padding: 0.25rem 1rem;
    border-radius: $border-radius;
}
.bottom-activity-navigation .row {
    background-color: $gray-100;
    padding: 1rem;
    border-radius: $border-radius;
}


// Marketing Spots
.marekting.card {
    box-shadow: 2px 2px 3px rgb(0 0 0 / 10%);
}
.marketing .feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    padding: 0 1rem;
    /* width: 4rem; */
    font-size: 2rem;
}

.marketing.card {
    border: 0;
    background-color: transparent;
}
.card-body.market-tile {
    border: 1px solid $gray-400;
    margin-top:1rem;
    margin-bottom:1rem;
    padding: 0rem;
    background-color: $body-bg;
    box-shadow: 0 2px 2px 0px rgb(0 0 0 / 20%);
    border-radius:5px;
    // display: grid;
    // align-content: stretch;
    // justify-items: center;
}
div.card-body.market-tile .marketingimg {
    background-color:$black;
    border-radius:5px;
    //width: 100%;
    //height: 20em;
    //object-fit: cover;
    height:14em;

} 
.marketcontent.card-text {
    padding: 0 1rem;
}
.marketbtn {
    margin-bottom: 1rem;
}


// Login page
.login-container {
    background-color: #00052F;
    border-radius: 2rem;
}

// My courses drop down
.dropdown.mycoursesmenu {
    background-color: $navbar-bg;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
}
.dropdown-menu.dropdown-menu-right.iconsidebar.show {
    padding: 1rem;
    min-width: 235px;
    border: 0;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 40%);
}
.dropdown.mycoursesmenu i::after {
    content: "";
    margin-right: 0;
    margin-left: 4px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 9px;
    width: 9px;
    border: 0;
}

.iconsidebar .list-group-item {
    border: 0;
    border-bottom: 1px solid $gray-300;
}

.fp-blocks {
    position: relative;
    padding: 1rem;
    background-color: $gray-200;
}

.coursedashboard-container {
    margin: 0;
    position: relative;
}
.slidingblockpanel {
    position: relative;
    clear: both;
}

$showpageimage: 0 !default;
@if $showpageimage == 1 {
    .coursedashboard {
        position: relative;
    }
}

.editing aside.block-region {
    min-height: 3rem;
    background-color: rgba($white, 40%);
    border: 2px dashed $gray-400;
}

@media (min-width: 768px) {
    .fpstartwrap {
        margin: 0 2rem;
    }
}

.iconset .btn.btn-secondary {
    min-width: $fpicon-width;
    margin-bottom: .5rem;
}

.progress.courseview {
    margin: 0 15px;
}

.progress {
    height: 1.5rem;
}

.usertext {
    color: $navbar-dark-color;
}

#user-notifications {
    margin: 0 15px;
}

.drawer {
    z-index: 1050;
}

.headerbutton {
    border-radius: 0;
}

.langmenu .dropdown-toggle::after, span.langbutton {
    color: $navbar-dark-color;
}

/**
* Available Courses
**/

.class-box-fp {
    height: $courseboxheight;
    background-color: $body-bg;
    padding: 1rem;
    border: 1px solid $body-bg;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.class-box-fp-style3 {
    min-height: $courseboxheight;
    max-height: inherit;
    background-color: $body-bg;
    padding: 1rem;
    border: 1px solid $body-bg;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.class-box-fp-2col {
    min-height: $courseboxheight;
    max-height: inherit;
    background-color: $body-bg;
    border: 2px solid $white;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.6);
}

.class-box-fp .course-title h4 a:hover {
    text-decoration: none;
}

.class-box-fp .course-title, .class-box-fp-style3 .course-title {
    background-color: $card-bg;
    padding: $spacer;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.class-box-fp-2col .course-title-2col {
    background-color: $card-bg;
    padding-top: 1rem;
    margin-bottom: 0;
    text-align: center;
}

.course-summary-2col {
    margin: 0 2rem;
    padding: $spacer;
    color: $white;
    background-color:rgba($black, 0.8);
    border-radius: 0 0 .25rem .25rem;
}
@media screen and (max-width: 576px) {
    .course-summary-2col{
        display:none;
    }
}

/*.class-box-fp-style3 .course-title:after, .class-box-fp .course-title:after, .class-box-fp-2col .course-title-2col:after {
    text-decoration: none;
    display: block;
    content: '';
    border-bottom: solid 1rem $primary;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.class-box-fp-style3 .course-title:hoover:after, .class-box-fp .course-title:hover:after, .class-box-fp-2col .course-title-2col:hover:after {
    transform: scaleX(1);
}*/

.courseimagecontainer {
    height: calc(45%);
}

.class-box4 {
    margin-bottom: 2rem;
    border: 1px solid $card-bg;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    height: $courseboxheight;
    overflow: hidden;
}

.class-box {
    border: 1px solid $gray-300;
    padding: 0;
    margin-bottom: 2rem;
    height: $courseboxheight;
    overflow: hidden;
}

.class-fullbox {
    margin-bottom: 2rem;
    border: 1px solid $card-bg;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 1rem;
}
.class-fullbox7 {
    margin-bottom: 2rem;
    border: 1px solid $card-bg;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 4rem 2rem 0 2rem;
}

.class-fullbox .course-summary {
    height: 100%;
    overflow: auto;
}

.fullbox {
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: overlay;
}

.fullbox7 {
    background-color: $card-bg;
}

.coursedata {
    padding-top: .5rem;
}

.course-title-fullboxbkg {
    background-color: $card-bg;
    padding: 1rem;
}

.course-title-fullboxbkg7 {
    padding: 1rem;
}

.course-title4 {
    padding-top: 1rem;
}

.course-title {
    padding: .5rem;
}

.class-list {
    clear: both;
}

.coursesmorelink {
    padding: 1rem;
}

.course-image-view {
    height: 100%;
}

.dash-course-image-view {
    padding-top: 5rem;
}

.class-box4 .course-summary4 {
    height: 4rem;
    overflow: auto;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.class-box .course-summary {
    margin:.5rem;
}

.class-box .course-summary::-webkit-scrollbar, .class-box4 .course-summary4::-webkit-scrollbar {
    width: 7px;
}

.class-box .course-summary::-webkit-scrollbar-track, .class-box4 .course-summary4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
    border-radius: 5%;
}

.class-box .course-summary::-webkit-scrollbar-thumb, .class-box4 .course-summary4::-webkit-scrollbar-thumb {
    background-color: darken($primary, 15%);
    outline: 1px solid slategrey;
}

.tooltip-inner {
    max-width: 350px;
    font-size: 14px;
}

.course_category_tree {
    padding: 1rem;
}

.cat-icon {
    margin: 5px;
}

.category.box-class {
    padding-bottom: $spacer;
    text-align: center;
}

.category.box-class:nth-child(5) {
    clear: both;
}

.circle-count {
    float: right;
    padding-left: 3px;
}

.courseimagecontainer:hover .course-overlay {
    opacity: 1;
}

.courseimagecontainer:hover .course-image-view {
    opacity: 0.3;
}

.course-overlay {
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    left: 40%;
    font-size: 5rem;
    margin-top: -7rem;
    color: $gray-800;
}

.coursestyle2 {
    width: 100%;
    height: $courseboxheight;
    background-color: #000;
    color: #fff;
    text-align: left;
    font-size: 16px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
}

.coursedimmed1 {
    background-color: rgba($gray-200, 0.9);
}

.coursedimmed2 {
    background-color: rgba(150, 150, 150, 0.9);
    height: 100%;
}

.coursedimmed3 {
    background-color: $gray-600;
    padding: 1rem;
}

.coursedimmed4 {
    background-color: rgba(150, 150, 150, 0.9);
}

.coursedimmed9 {
    background-color: rgba($secondary, 0.2);
}

.class-box-courseview {
    background-color: #dae6e5;
    border: 1px solid #dae6e5;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    height: 100%;
}

.coursestyle2 * {
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.coursestyle2 figcaption {
    position: absolute;
    height: 98px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.75);
}

.coursestyle2 h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 3px 0;
}

a.coursestyle2url {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}

a.coursestyle3url {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}

.coursestyle2:hover figcaption,
.coursestyle2.hover figcaption {
    height: calc(100%);
}

.coursestyle2:hover p.course-summary::-webkit-scrollbar {
    width: 7px;
}

.coursestyle2:hover p.course-summary::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
    border-radius: 5%;
}

.coursestyle2:hover p.course-summary::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

@media screen and (min-width: 992px) {
    .coursestyle2:hover p.course-summary,
    .coursestyle2.hover p.course-summary {
        overflow-y: auto;
        height: 5rem;
    }
}

.coursestyle2 .course-card {
    margin-top: 4rem;
}

.coursestyle2:hover .course-card {
    margin-top: 0rem;
}

ul.teacherscourseview {
    list-style-type: none;
    font-weight: bold;
    font-style: italic;
}

.tilecontainer {
    position: relative;
    margin: 3rem 0 2rem 0;
}

.coursestyle9row {
    padding: 1rem 0;
    border-bottom: 1px dashed $gray-300;
}

.coursestyle9row:hover {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-color: $activityhover;
}
.hoverhighlight:hover {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-color: $activityhover;
}

.easyenrolform {
    display: flex;
    justify-content: center;
}
.secondary-navigation {
    clear: both;
}

@media screen and (max-width: 576px) {
    .headerbuttons .fa-2x {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
    }
}